<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img
          src="https://i.pinimg.com/originals/e0/7f/c4/e07fc428a1a7efed9ae868771493ae81.png"
          alt="logo"
          width="200rem"
          height="50rem"
          onclick="redirect('home')"
        />
      </div>
      <div class="pages">
        <button class="links home" onclick="redirect('home')" value="home">
          Home
        </button>
        <button
          class="links products"
          onclick="redirect('products')"
          value="products"
        >
          Produtos
        </button>
        <button class="links about" onclick="redirect('about')" value="about">
          Quem Somos
        </button>
        <button class="login" onclick="redirect('cadastro')" value="cadastro">
          Entrar
        </button>
      </div>
    </div>
    <div>
      <h1>Produto</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque rerum
      veniam dolorem perferendis amet, distinctio, quis blanditiis ut
      consectetur fugiat error cupiditate maxime at suscipit eligendi
      doloremque, unde voluptatem debitis. Magnam reiciendis deleniti aperiam,
      numquam similique minus id blanditiis esse. Recusandae quo, facilis quis
      minus similique, eligendi in officia tempora consectetur illo reiciendis
      commodi architecto officiis quisquam animi harum unde! Accusantium rem non
      consequuntur, animi nesciunt ipsam eos, mollitia amet iusto deleniti,
      porro consectetur facilis atque omnis! Nobis deserunt praesentium iusto
      corrupti, reiciendis amet natus aliquam, explicabo recusandae magni qui.
      <h1>Produto 2</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nihil
      voluptate magni excepturi voluptatibus ab illo, voluptas quidem
      necessitatibus velit eveniet dolores cum obcaecati laborum laudantium
      consectetur fuga, beatae qui! Maiores dolorum, quis obcaecati laborum
      sapiente rerum molestias recusandae officiis doloribus suscipit modi
      tempora repellat aliquam harum dolore porro, exercitationem unde animi,
      repellendus expedita qui. Eum exercitationem illum eaque fugiat? Deleniti
      beatae minus reprehenderit a alias ex autem voluptatum repellat optio
      totam tempora cum suscipit culpa repellendus illum excepturi sint, porro
      perferendis pariatur voluptatibus. Ab dolor ipsum doloribus quo corporis?
    </div>
  </body>
</html>
