<div class="row justify-content-center">
  <div class="col-6">
    <div class="alert" ng-class="{'alert-danger': !c.success}" ng-show="c.mostra">
      {{ c.message }}
    </div>
    <form ng-submit="c.cadastrar()">
      <div class="form-group">
        <label for="">Nome de usuário</label>
        <input type="text" class="form-control" ng-model="c.user.username">
      </div>
      <div class="form-group">
        <label for="">Nome</label>
        <input type="text" class="form-control" ng-model="c.user.first_name">
      </div>
      <div class="form-group">
        <label for="">Sobrenome</label>
        <input type="text" class="form-control" ng-model="c.user.last_name">
      </div>
      <div class="form-group">
        <label for="">email</label>
        <input type="email" class="form-control" ng-model="c.user.email">
      </div>
      <div class="form-group">
        <label for="">Senha</label>
        <input type="password" class="form-control" ng-model="c.user.password">
      </div>
      <div class="form-group">
        <label for="">Confirmar senha</label>
        <input type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-block btn-primary">Entrar</button>
    </form>
  </div>
</div>
