<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="">Logo</a>
      </div>
      <div class="pages">
        <a href="/home">Home</a>
        <a href="/products">Produtos</a>
        <a href="/about">Quem Somos</a>
        <a href="/cadastro">Entrar</a>
      </div>
    </div>
    <div>
      <h1>About</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit sed
      dolor soluta laudantium dolorum blanditiis fugit sint perspiciatis, maxime
      recusandae incidunt expedita eligendi neque omnis veniam laboriosam facere
      vel? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      optio quis, odit a praesentium modi distinctio magnam maxime illo
      voluptates obcaecati eligendi tempora architecto cupiditate, consequatur
      sint excepturi minima beatae. Eaque, adipisci praesentium ullam veniam
      nobis mollitia pariatur assumenda explicabo doloremque. Nesciunt
      accusantium architecto temporibus repellat sed suscipit similique porro
      excepturi velit, eligendi tempore voluptatibus, laboriosam, totam
      perferendis laborum sint? Earum explicabo quisquam aspernatur maxime
      beatae quam illum dolorum. Nulla dolor, corporis neque reiciendis, odit
      perferendis veritatis dolore fuga sequi necessitatibus illo assumenda
      ipsam natus excepturi ducimus laborum est vero. Quia iusto fugit ducimus
      repellat fugiat, repudiandae aliquam, necessitatibus impedit est modi
      porro voluptas asperiores nesciunt ex dicta consequuntur ratione, quisquam
      veniam debitis saepe molestias! Veritatis autem ratione vero nesciunt.
      Repellendus facilis repudiandae est beatae deserunt velit sapiente
      obcaecati! At fugiat voluptate pariatur, dicta in laborum consectetur,
      libero illo corrupti inventore ea. Aperiam dicta laboriosam, animi
      temporibus dolorem accusantium earum.
    </div>
  </body>
</html>
